---
import Base from "../layouts/Base.astro";
---

<Base>
  <div id="" class="container h-full w-full flex justify-center items-center">
    <div class="">
      <h1 class="font-bold text-3xl">404 - Page Not Found</h1>
      <p>Lo sentimos, la página que buscas no existe.</p>
    </div>
  </div>
</Base>
