---
import type { GetStaticPaths } from "astro";
import Base from "../layouts/Base.astro";

export interface Props {
  module: string;
  name: string;
  description: string;
  imagePath: string;
}

const { module, name, description, imagePath } = Astro.props;

export const getStaticPaths: GetStaticPaths =
  async (): Promise<GetStaticPathsResult> => {
    return {
      paths: [
        { params: { module: "inventario" } },
        { params: { module: "Facturacion" } },
        { params: { module: "Finanzas" } },
        { params: { module: "Empleados" } },
        { params: { module: "Clientes" } },
        { params: { module: "Almacenes" } },
      ],
    };
  };
---

<Base>
  <div class="container mx-auto h-full w-full flex justify-center items-center">
    <div class="">
      <h1>{name}</h1>
      <img src={imagePath} alt="" />
      <p>{description}</p>
    </div>
  </div>
</Base>
