---
import Button from "../components/BtnPrimary.astro";
---

<header class="fixed w-screen bg-white shadow-md px-8">
  <div class="flex justify-between items-center text-xs">
    <img class="w-16" src="../../public/logo.png" alt="" />
    <div class="flex space-x-4 py-2 items-center">
      <nav class="flex space-x-4 text-sky-900">
        <a class="hover:text-sky-600 cursor-pointer">Modulos</a>
        <a class="hover:text-sky-600 cursor-pointer">Precios</a>
        <a class="hover:text-sky-600 cursor-pointer">Contacto</a>
      </nav>
      <Button text="Comenzar" />
    </div>
  </div>
</header>
