---
export interface Props {
  title?: string;
  url?: string;
  description?: string;
}

const { title, url, description } = Astro.props;
---

<div class="p-4 rounded border border-sky-300 flex">
  <img class="h-16" src={url} alt={title} />
  <div class="text-start ml-4">
    <h3 class="font-bold">{title}</h3>
    <p class="text-sm text-gray-500">{description}</p>
  </div>
</div>
